fastapi
uvicorn
motor
pydantic
python-jose[cryptography]
# passlib[bcrypt]
pymongo[srv]
python-dotenv
pydantic[email]
google-generativeai
aiohttp
passlib[bcrypt]==1.7.4 
bcrypt==3.2.2
PyJWT[crypto]
pytz
python-multipart
cloudinary